.footer {
  justify-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  color: #fff;
  display: flex;
  height: 200px;
  width: 100%;
  .menu {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 20px 0;
    li {
      padding: 0 10px;
      list-style: none;
      a {
        color: #eee;
        &:hover {
          color: #e4e73c;
        }
      }
    }
  }
  .copy {
    color: #999;
  }
}
