<div class="footer">
  <ul class="menu">
    <li>
      <a href="/">Соглашение об использовании сайта</a>
    </li>
    <li>
      <a href="/">Политика в отношении обработки ПДН</a>
    </li>
    <li>
      <a href="/">Политика cookies</a>
    </li>
  </ul>

  <span class="copy">Copyright © 2020.</span>
</div>
