<section class="new">
  <div class="img"><img src="{{currentItem.img}}"></div>
  <div class="desc">
    <h1>{{currentItem.title}}</h1>
    <span class="author"><b>Author: </b>{{currentItem.author}}</span>
    <p>{{currentItem.desc}}</p>
  </div>
</section>

