.new {
  flex-direction: column;
  display: flex;
  h1 {
    text-align: center;
    font-size: 28px;
    margin: 0;
  }
  .img {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
  }
  .desc {
    border: 1px solid #eee;
    position: relative;
    padding: 40px 20px 20px;
    .author {
      position: absolute;
      color: #999;
      right: 20px;
      top: 20px;
    }
    p {
      padding: 20px 0 0;
    }
  }
}
