.blog {
  padding: 20px 0;
  .blog-inner {
    transition: all 0.3s ease;
    border: 2px solid #eee;
    position: relative;
    padding: 20px;
    &:hover {
      transform: scale(1.1);
      p {
        font-size: 18px;
      }
    }
  }
  h1 {
    text-align: center;
    margin: 0;
  }
  .metadata {
    justify-content: space-between;
    padding: 20px 0;
    color: #999;
    display: flex;
    width: 100%;
  }
}
