<section class="blog-main">
<div class="blog" *ngFor="let item of restList"> 
  <div class="blog-inner">
  <h1>{{item.title}}</h1>
  <div class="metadata">
    <span class="author">{{item.author}}</span>
    <span class="date">{{item.date}}</span>
  </div>
  <div class="desc">
    <p>{{item.desc}}</p>
  </div>
  
  <span class='line-1'></span>
  <span class='line-2'></span>
  <span class='line-3'></span>
  <span class='line-4'></span>
</div>
</div>
</section>
