<section class="contact">
  <h1>CONTACT</h1>

  <div class="info">
    <p><b>Name:</b> Yura</p>
    <p><b>Phone:</b> +380635474123</p>
    <p><b>Email:</b> Admin@admin.com</p>
  </div>

  <form [formGroup]="loginForm">
    <h2>Contact us</h2>
    <div class="form-item">
      <mat-form-field class="item-inner" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput  formControlName="email"/>
      </mat-form-field>
    </div>

    <div class="form-item">

      <mat-form-field class="item-inner">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput formControlName="comment" placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

    </div>

    <div class="btns">
      <button mat-flat-button color="accent" (click)="onSubmit()">Send</button>
    <button mat-flat-button color="warn" (click)="loginForm.reset()">Reset</button>
    </div>

    
  </form>
</section>
