form {
  padding: 20px 0 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.form-item {
  justify-content: center;
  padding: 20px;
  display: flex;
  width: 100%;

  .item-inner {
    width: 60%;
    input {
      width: 100%;
    }
  }
}

.contact {
  height: 100%;
  width: 100%;
  min-width: 800px;
  h1 {
    text-align: center;
  }
  .info {
    border: 1px solid #eee;
    padding: 20px;
    margin: 0 auto;
    width: 60%;
  }
  .btns {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    .mat-flat-button {
      margin-bottom: 20px;
      width: 100px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
