.card-inner {
  border: 2px solid #eee;
}
.card-inner .card-img {
  height: auto;
  width: 100%;
  background-color: #4426a8;
  position: relative;
  background-size: cover;
  background-position: center top;
}

.card-inner .card-content span {
  margin-bottom: 0.5rem;
  position: relative;
  display: block;
}

.card-inner .card-content {
  overflow-x: hidden;
  padding: 10px 20px 30px 20px;
  position: relative;
  overflow-y: hidden;
}

.card-inner .card-content .bttn {
  display: inline-block;
  padding: 7px 8px;
  text-align: center;
  border-radius: 3px;
  background-color: #39454b;
  text-decoration: none;
  color: #fff;
  transition: 300ms all;
}

.card-inner .card-content .bttn:hover {
  transition: all 0.35s;
  transform: translate3d(0, -5px, 0);
  background-color: #798286;
  color: #fff;
}

.card-inner .card-content p:first-of-type {
  margin-top: 0px;
  text-align: left;
}
