

    
        <div class="card-inner">
            <img class="card-img" src={{item.img}}>
            
            <div class="card-content">
                <h4>{{item.title}}</h4>
                <span>{{item.author}}</span>
                <p>{{item.desc}}</p>
                <a routerLink="card/{{item.id}}" class="bttn" (click)="thisClick(item)">Read Full Article</a>
            </div>
        </div>

