.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-inner {
  padding: 40px 15px;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 340px);
}
