
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card {
  padding: 10px;
  width: 23%;
position: relative;
border-radius: 6px;
overflow: hidden;
background-color: #303030;
border: 0px;
transition: all 0.3s ease-in-out;
}