<header class="header">
  <nav role="navigation" class="primary-navigation">
    <ul>
      <li>
        <a
          routerLinkActive="active"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLinkActive="active" routerLink="/news">News </a></li>
      <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
      <li>
        <a routerLinkActive="active" routerLink="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
