.header {
  height: 100%;
  width: 100%;
  background: #000;
}
nav {
  height: 100%;
  &.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      border-left: 2px solid #e4e73c;
      display: inline-block;
      position: relative;
      text-decoration: none;
      text-align: center;
    }

    li a {
      padding: 20px 30px;
      display: inline-block;
      color: #fff;
      &.active {
        color: #e4e73c;
      }
    }

    li:hover a {
      color: #e4e73c;
    }

    li:hover {
      cursor: pointer;
    }
  }
}
