.main {
  min-height: calc(100vh - 340px);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  &::before {
    background: url("https://image.freepik.com/free-vector/dark-wall-background_1390-191.jpg")
      no-repeat 50% 50% / cover;
    position: absolute;
    height: calc(100vh - 260px);
    width: 100%;
    content: "";
    right: 0;
    left: 0;
  }
}
.btn-cont {
  text-align: center;

  .btn {
    position: relative;
    padding: 20px 70px;
    border: 2px solid #eee;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: em(18px);
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;

    &:hover {
      border: none;

      .line-1 {
        animation: move1 1500ms infinite ease;
      }

      .line-2 {
        animation: move2 1500ms infinite ease;
      }

      .line-3 {
        animation: move3 1500ms infinite ease;
      }

      .line-4 {
        animation: move4 1500ms infinite ease;
      }
    }
  }

  .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: #e4e73c;
    left: 0;
    bottom: 0;
  }
  .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: #e4e73c;
    left: 0;
    top: 0;
  }
  .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: #e4e73c;
    right: 0;
    top: 0;
  }
  .line-4 {
    background-color: #e4e73c;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    right: 0;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
