<section class="main">
  <div class='btn-cont'>
    <a class='btn' routerLink="/blog">
      Blog
      <span class='line-1'></span>
      <span class='line-2'></span>
      <span class='line-3'></span>
      <span class='line-4'></span>
    </a>
  </div>
</section>