/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background: #303030;
    color: #eee;
}
ul{
    margin: 0;
}

a {

    text-decoration: none;

    &:hover {
        color: #e4e73c;
    }
 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
